@import url(./__list/portfolio__list.css);
@import url(./__heading/portfolio__heading.css);
@import url(./__list-item/portfolio__list-item.css);
@import url(./__arrow/portfolio__arrow.css);
@import url(./__link/portfolio__link.css);
.portfolio{
    color: black;
    padding-top: 100px;
    max-width: 89.625%;
    margin: 0 auto;
}