.more__box{
width: 90%;
margin-top: 94px;
margin-left: auto;
margin-right: auto;
}

.more__btn{
    width: 100%;
    background-color: #F9F9F9;
    border: none;
    border-radius: 5px;
    height: 36px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;
}