.aboutme__heading{
    padding-top: 110px;
    font-size: 22px;
    font-weight: 400;
    border-bottom: black 1px solid;
    margin: 0;
    height: 49px;
    max-width: 89.625%;
    margin: 0 auto;
}