.promo__text{
    color: black;
    font-size: 50px;
    line-height: 58px;
    max-width: 730px;
    margin: 0 auto;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .promo__text{
        font-size: 40px;
        line-height: 52px;
    }
}
@media screen and (max-width: 425px) {
    .promo__text{
        font-size: 29px;
        line-height: 37px;
    }
}